<div class="row">
  <div class='col-md-12 text-center'>
    <h1><%= @bk.book.book_name.capitalize %></h1>
    <p>Update how many times you have read this book.</p>
  </div>
</div>
<div class="row">
  <div class='col-md-12 text-center'>

    <%= form_tag library_library_book_path(library_id: @bk.library_id, id: @bk.book_id), :method => :put do |f| %>
      <%= label_tag (:quantity) %>
      <%= text_field_tag "quantity", @bk.quantity %>
      <%= submit_tag("Update") %>
      <% end %>
    <h6>If this is left blank it will default to zero.</h6>
  </div>
</div>
